*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache

# Eclipse and others
.project
.classpath
.settings
build
bin
.gradle
